WhoIsBetter.Test/Service References/WSFavorito/FavoritoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Favorito">
    <xs:sequence>
      <xs:element minOccurs="0" name="Etapa" type="xs:short" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDContendor1" type="xs:int" />
      <xs:element minOccurs="0" name="IDContendor2" type="xs:int" />
      <xs:element minOccurs="0" name="IDGanador" type="xs:int" />
      <xs:element minOccurs="0" name="IDParticipante" type="xs:int" />
      <xs:element minOccurs="0" name="IDTorneo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Favorito" nillable="true" type="tns:Favorito" />
  <xs:complexType name="ArrayOfFavorito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Favorito" nillable="true" type="tns:Favorito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFavorito" nillable="true" type="tns:ArrayOfFavorito" />
</xs:schema>