WhoIsBetter.Test/Service References/WSFavorito/FavoritoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FavoritoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IFavoritoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/FavoritoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/FavoritoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/FavoritoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFavoritoService_CrearFavorito_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearFavorito" />
  </wsdl:message>
  <wsdl:message name="IFavoritoService_CrearFavorito_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearFavoritoResponse" />
  </wsdl:message>
  <wsdl:message name="IFavoritoService_ListarFavoritos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFavoritos" />
  </wsdl:message>
  <wsdl:message name="IFavoritoService_ListarFavoritos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFavoritosResponse" />
  </wsdl:message>
  <wsdl:portType name="IFavoritoService">
    <wsdl:operation name="CrearFavorito">
      <wsdl:input wsaw:Action="http://tempuri.org/IFavoritoService/CrearFavorito" message="tns:IFavoritoService_CrearFavorito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFavoritoService/CrearFavoritoResponse" message="tns:IFavoritoService_CrearFavorito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarFavoritos">
      <wsdl:input wsaw:Action="http://tempuri.org/IFavoritoService/ListarFavoritos" message="tns:IFavoritoService_ListarFavoritos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFavoritoService/ListarFavoritosResponse" message="tns:IFavoritoService_ListarFavoritos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IFavoritoService" type="tns:IFavoritoService">
    <wsp:PolicyReference URI="#CustomBinding_IFavoritoService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearFavorito">
      <soap12:operation soapAction="http://tempuri.org/IFavoritoService/CrearFavorito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFavoritos">
      <soap12:operation soapAction="http://tempuri.org/IFavoritoService/ListarFavoritos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FavoritoService">
    <wsdl:port name="CustomBinding_IFavoritoService" binding="tns:CustomBinding_IFavoritoService">
      <soap12:address location="http://localhost/WhoIsBetter_WSSOAP/FavoritoService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/WhoIsBetter_WSSOAP/FavoritoService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>