WhoIsBetter.WSREST/Service References/WSTorneo/TorneoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Torneo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDEstado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroContendores" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroParticipantes" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroRealParticipantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Torneo" nillable="true" type="tns:Torneo" />
  <xs:complexType name="ArrayOfTorneo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Torneo" nillable="true" type="tns:Torneo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTorneo" nillable="true" type="tns:ArrayOfTorneo" />
</xs:schema>