WhoIsBetter.Test/Service References/WSReporte/ReporteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReporteTorneo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteTorneo" nillable="true" type="tns:ReporteTorneo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteTorneo" nillable="true" type="tns:ArrayOfReporteTorneo" />
  <xs:complexType name="ReporteTorneo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contendor1" nillable="true" type="tns:Contendor" />
      <xs:element minOccurs="0" name="Contendor2" nillable="true" type="tns:Contendor" />
      <xs:element minOccurs="0" name="Ganador" nillable="true" type="tns:Contendor" />
      <xs:element minOccurs="0" name="Participante" nillable="true" type="tns:Participante" />
      <xs:element minOccurs="0" name="PosFixture" type="xs:long" />
      <xs:element minOccurs="0" name="Torneo" nillable="true" type="tns:Torneo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteTorneo" nillable="true" type="tns:ReporteTorneo" />
  <xs:complexType name="Contendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgrupadorInicial" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDTorneo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contendor" nillable="true" type="tns:Contendor" />
  <xs:complexType name="Participante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participante" nillable="true" type="tns:Participante" />
  <xs:complexType name="Torneo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDEstado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroContendores" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroParticipantes" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroRealParticipantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Torneo" nillable="true" type="tns:Torneo" />
</xs:schema>