WhoIsBetter.WSREST/Service References/WSReporte/ReporteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/ReporteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" />
  <xs:element name="GenerarReporteTorneo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTorneo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarReporteTorneoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" minOccurs="0" name="GenerarReporteTorneoResult" nillable="true" type="q1:ArrayOfReporteTorneo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>