WhoIsBetter.Test/Service References/WSParticipante/ParticipanteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Participante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participante" nillable="true" type="tns:Participante" />
</xs:schema>