WhoIsBetter.WSREST/Service References/WSUsuario/UsuarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDRol" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCelular" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroTelefono" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
</xs:schema>