WhoIsBetter.WSSOAP/Service References/WSTorneo/TorneoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/TorneoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" />
  <xs:element name="CrearTorneo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" minOccurs="0" name="torneo" nillable="true" type="q1:Torneo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTorneoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearTorneoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTorneoPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTorneoPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" minOccurs="0" name="ObtenerTorneoPorIDResult" nillable="true" type="q2:Torneo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTorneoPorEnlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enlace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTorneoPorEnlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" minOccurs="0" name="ObtenerTorneoPorEnlaceResult" nillable="true" type="q3:Torneo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTorneo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" minOccurs="0" name="torneo" nillable="true" type="q4:Torneo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTorneoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTorneo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTorneoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTorneos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTorneosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" minOccurs="0" name="ListarTorneosResult" nillable="true" type="q5:ArrayOfTorneo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>