WhoIsBetter.WinService/Service References/WSContendor/ContendorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgrupadorInicial" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDTorneo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contendor" nillable="true" type="tns:Contendor" />
  <xs:complexType name="ArrayOfContendor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contendor" nillable="true" type="tns:Contendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContendor" nillable="true" type="tns:ArrayOfContendor" />
</xs:schema>