WhoIsBetter.WinService/Service References/WSFavorito/FavoritoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/FavoritoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" />
  <xs:element name="CrearFavorito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" minOccurs="0" name="favorito" nillable="true" type="q1:Favorito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearFavoritoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFavoritos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTorneo" type="xs:int" />
        <xs:element minOccurs="0" name="idParticipante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFavoritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" minOccurs="0" name="ListarFavoritosResult" nillable="true" type="q2:ArrayOfFavorito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>