WhoIsBetter.Test/Service References/WSTorneo/TorneoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TorneoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ITorneoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/TorneoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/TorneoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/TorneoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITorneoService_CrearTorneo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearTorneo" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_CrearTorneo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearTorneoResponse" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_ObtenerTorneoPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTorneoPorID" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_ObtenerTorneoPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTorneoPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_ObtenerTorneoPorEnlace_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTorneoPorEnlace" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_ObtenerTorneoPorEnlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTorneoPorEnlaceResponse" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_ActualizarTorneo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTorneo" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_ActualizarTorneo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTorneoResponse" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_EliminarTorneo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTorneo" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_EliminarTorneo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTorneoResponse" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_ListarTorneos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTorneos" />
  </wsdl:message>
  <wsdl:message name="ITorneoService_ListarTorneos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTorneosResponse" />
  </wsdl:message>
  <wsdl:portType name="ITorneoService">
    <wsdl:operation name="CrearTorneo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITorneoService/CrearTorneo" message="tns:ITorneoService_CrearTorneo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITorneoService/CrearTorneoResponse" message="tns:ITorneoService_CrearTorneo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTorneoPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITorneoService/ObtenerTorneoPorID" message="tns:ITorneoService_ObtenerTorneoPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITorneoService/ObtenerTorneoPorIDResponse" message="tns:ITorneoService_ObtenerTorneoPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTorneoPorEnlace">
      <wsdl:input wsaw:Action="http://tempuri.org/ITorneoService/ObtenerTorneoPorEnlace" message="tns:ITorneoService_ObtenerTorneoPorEnlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITorneoService/ObtenerTorneoPorEnlaceResponse" message="tns:ITorneoService_ObtenerTorneoPorEnlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTorneo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITorneoService/ActualizarTorneo" message="tns:ITorneoService_ActualizarTorneo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITorneoService/ActualizarTorneoResponse" message="tns:ITorneoService_ActualizarTorneo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTorneo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITorneoService/EliminarTorneo" message="tns:ITorneoService_EliminarTorneo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITorneoService/EliminarTorneoResponse" message="tns:ITorneoService_EliminarTorneo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTorneos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITorneoService/ListarTorneos" message="tns:ITorneoService_ListarTorneos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITorneoService/ListarTorneosResponse" message="tns:ITorneoService_ListarTorneos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ITorneoService" type="tns:ITorneoService">
    <wsp:PolicyReference URI="#CustomBinding_ITorneoService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearTorneo">
      <soap12:operation soapAction="http://tempuri.org/ITorneoService/CrearTorneo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTorneoPorID">
      <soap12:operation soapAction="http://tempuri.org/ITorneoService/ObtenerTorneoPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTorneoPorEnlace">
      <soap12:operation soapAction="http://tempuri.org/ITorneoService/ObtenerTorneoPorEnlace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTorneo">
      <soap12:operation soapAction="http://tempuri.org/ITorneoService/ActualizarTorneo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTorneo">
      <soap12:operation soapAction="http://tempuri.org/ITorneoService/EliminarTorneo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTorneos">
      <soap12:operation soapAction="http://tempuri.org/ITorneoService/ListarTorneos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TorneoService">
    <wsdl:port name="CustomBinding_ITorneoService" binding="tns:CustomBinding_ITorneoService">
      <soap12:address location="http://localhost/WhoIsBetter_WSSOAP/TorneoService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/WhoIsBetter_WSSOAP/TorneoService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>