WhoIsBetter.WSREST/Service References/WSContendor/ContendorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContendorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IContendorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/ContendorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/ContendorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WhoIsBetter_WSSOAP/ContendorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WhoIsBetter.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContendorService_CrearContendor_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearContendor" />
  </wsdl:message>
  <wsdl:message name="IContendorService_CrearContendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearContendorResponse" />
  </wsdl:message>
  <wsdl:message name="IContendorService_ObtenerContendor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerContendor" />
  </wsdl:message>
  <wsdl:message name="IContendorService_ObtenerContendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerContendorResponse" />
  </wsdl:message>
  <wsdl:message name="IContendorService_ActualizarContendor_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarContendor" />
  </wsdl:message>
  <wsdl:message name="IContendorService_ActualizarContendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarContendorResponse" />
  </wsdl:message>
  <wsdl:message name="IContendorService_EliminarContendor_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarContendor" />
  </wsdl:message>
  <wsdl:message name="IContendorService_EliminarContendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarContendorResponse" />
  </wsdl:message>
  <wsdl:message name="IContendorService_ListarContendores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarContendores" />
  </wsdl:message>
  <wsdl:message name="IContendorService_ListarContendores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarContendoresResponse" />
  </wsdl:message>
  <wsdl:portType name="IContendorService">
    <wsdl:operation name="CrearContendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IContendorService/CrearContendor" message="tns:IContendorService_CrearContendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContendorService/CrearContendorResponse" message="tns:IContendorService_CrearContendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerContendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IContendorService/ObtenerContendor" message="tns:IContendorService_ObtenerContendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContendorService/ObtenerContendorResponse" message="tns:IContendorService_ObtenerContendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarContendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IContendorService/ActualizarContendor" message="tns:IContendorService_ActualizarContendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContendorService/ActualizarContendorResponse" message="tns:IContendorService_ActualizarContendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarContendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IContendorService/EliminarContendor" message="tns:IContendorService_EliminarContendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContendorService/EliminarContendorResponse" message="tns:IContendorService_EliminarContendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarContendores">
      <wsdl:input wsaw:Action="http://tempuri.org/IContendorService/ListarContendores" message="tns:IContendorService_ListarContendores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContendorService/ListarContendoresResponse" message="tns:IContendorService_ListarContendores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IContendorService" type="tns:IContendorService">
    <wsp:PolicyReference URI="#CustomBinding_IContendorService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearContendor">
      <soap12:operation soapAction="http://tempuri.org/IContendorService/CrearContendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerContendor">
      <soap12:operation soapAction="http://tempuri.org/IContendorService/ObtenerContendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarContendor">
      <soap12:operation soapAction="http://tempuri.org/IContendorService/ActualizarContendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarContendor">
      <soap12:operation soapAction="http://tempuri.org/IContendorService/EliminarContendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContendores">
      <soap12:operation soapAction="http://tempuri.org/IContendorService/ListarContendores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContendorService">
    <wsdl:port name="CustomBinding_IContendorService" binding="tns:CustomBinding_IContendorService">
      <soap12:address location="http://localhost/WhoIsBetter_WSSOAP/ContendorService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/WhoIsBetter_WSSOAP/ContendorService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>